<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>Live Model Application App</title>
    {{!-- <link rel="stylesheet" media="all" href="/stylesheets/style.css" /> --}}
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>


	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
	{{{ body }}}
</body>
</html>